doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Health Insurance
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/animations.css')
  body(ng-app='myApp')
    div(ng-controller='AppCtrl', class="animate-show")
      img(src='img/logo.png')
      span(ng-show='pane==0')
        h2 Welcome to Corticon
        h3 This is an interactive healthcare insurance example app that uses Corticon at each step to show a unique page based on a user's previous responses.
        button(ng-click='next()') Start Demo
      span(ng-show='pane==1')
        h2 Basic Information
        form(name='basic')
          h4 Zip Code:    
            input(type='text', ng-model='zip', pattern='[0-9]{5,5}', required)
          h4 Coverage Start Date:
            input(type='date', ng-model='date', placeholder="yyyy-MM-dd", required)
          h4 Number of Family Members
            input(type='text', ng-model='familySize', pattern='[0-9]{1,2}', required)
          h4 Your Gender
            input(type="radio", name="gender_filter", ng-value="1", ng-model='gender', required)
            | Male
            input(type="radio", name="gender_filter", ng-value="2", ng-model='gender')
            | Female
          button(ng-click='previous()') Back
          button(ng-click='next()', ng-disabled='basic.$invalid') Next
      span(ng-show='pane==2')
        h2 Magazines
        h5 This page is customized based on the response for gender
          h4 Magazines for {{sex}}
            p {{sex}}'s Weekly
              input(type='checkbox', ng-model='mag1')
            p {{sex}}'s Health
              input(type='checkbox', ng-model='mag2')
            p {{sex}}'s Digest
              input(type='checkbox', ng-model='mag3')
            button(ng-click='previous()') Back
            button(ng-click='next()') Next
      span(ng-show='pane==3')
        h2 Details on Family Members
        h5 This page is customized based on the response for number of family members
        form(name='family', ng-model='familyInfo')
          span(ng-repeat='i in number')
            span(ng-show='!$first')
              h3 Family Member {{i}}
            span(ng-show='$first')
              h3 Your Information
            h4 Date of Birth:
              input(type='date', ng-model='birth', placeholder="yyyy-MM-dd", required)
            h4 Tobacco use
              input(type='checkbox', ng-model='tobacco')
          button(ng-click='previous()') Back
          button(ng-click='next()', ng-disabled='family.$invalid') Next
      span(ng-show='pane==4')
        h2 Income
        form(name='income')
          h4 Salary (approximate is ok)
            input(type='text', ng-model='salary', pattern='[0-9]{1,12}', required)
          button(ng-click='previous()') Back
          button(ng-click='next()', ng-disabled='income.$invalid') Next
      span(ng-show='pane==5')
        h2 Use Frequency
        form(name='details')
          h4 Estimated number of doctor visits a year
            input(type='text', ng-model='visits', pattern='[0-9]{1,2}', required)
          h4 Estimated number of prescriptions
            input(type='text', ng-model='prescriptions', pattern='[0-9]{1,2}', required)
          button(ng-click='previous()') Back
          button(ng-click='next()', ng-disabled='details.$invalid') Submit
      span(ng-show='pane==6')
        h2 Your estimated cost is ${{estimate}} a month
        h5 This result is based on the responses on all previous pages
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js')
    script(src='https://code.angularjs.org/1.3.0-rc.0/angular-animate.min.js')
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')