body {
        font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
}
input:required:invalid {
  box-shadow: none;
  background: rgba(255, 0, 0, 0.1);
}

input:required:valid {
  background: rgba(0, 255, 0, 0.1);
}
