#main {
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    width: 40em;
    color:#19324B;
    padding: 10px;
    border-style: solid;
  border:1px solid #19324B;
  background:#F9FAFE;
  border-radius: 5px;
}
input:required:invalid {
  box-shadow: none;
  background: #FF9999;
  border-radius:5px;
}

input:required:valid {
  box-shadow: none;
  background: #AAFAAA;
  border-radius:5px;
}
img{
    box-shadow: none;
    border-color: transparent;
}
a {
    color:#19324B;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}