body {
    font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
    width: 35em;
    color:#19324B;
}
input:required:invalid {
  box-shadow: none;
  background: #FF9999;
  border-radius:5px;
}

input:required:valid {
  background: #AAFAAA;
  border-radius:5px;
}
img {
  width: 202px;
  height: 46px;
}